services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    env_file:
      - env.properties
    # ports:
    #   - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - mysql-data:/var/lib/mysql

  backend:
    build: .
    container_name: backend
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - env.properties
    ports:
      - "8080:8080"

volumes:
  mysql-data:
